

.bgALICEBLUE{background-color:ALICEBLUE !important;}
.bgANTIQUEWHITE{background-color:ANTIQUEWHITE !important;}
.bgAQUA{background-color:AQUA !important;}
.bgAQUAMARINE{background-color:AQUAMARINE !important;}
.bgAZURE{background-color:AZURE !important;}
.bgBEIGE{background-color:BEIGE !important;}
.bgBISQUE{background-color:BISQUE !important;}
.bgBLACK{background-color:BLACK !important;}
.bgBLANCHEDALMOND{background-color:BLANCHEDALMOND !important;}
.bgBLUE{background-color:BLUE !important;}
.bgBLUEVIOLET{background-color:BLUEVIOLET !important;}
.bgBROWN{background-color:BROWN !important;}
.bgBURLYWOOD{background-color:BURLYWOOD !important;}
.bgCADETBLUE{background-color:CADETBLUE !important;}
.bgCHARTREUSE{background-color:CHARTREUSE !important;}
.bgCHOCOLATE{background-color:CHOCOLATE !important;}
.bgCORAL{background-color:CORAL !important;}
.bgCORNFLOWERBLUE{background-color:CORNFLOWERBLUE !important;}
.bgCORNSILK{background-color:CORNSILK !important;}
.bgCRIMSON{background-color:CRIMSON !important;}
.bgCYAN{background-color:CYAN !important;}
.bgDARKBLUE{background-color:DARKBLUE !important;}
.bgDARKCYAN{background-color:DARKCYAN !important;}
.bgDARKGOLDENROD{background-color:DARKGOLDENROD !important;}
.bgDARKGRAY{background-color:DARKGRAY !important;}
.bgDARKGREEN{background-color:DARKGREEN !important;}
.bgDARKKHAKI{background-color:DARKKHAKI !important;}
.bgDARKMAGENTA{background-color:DARKMAGENTA !important;}
.bgDARKOLIVEGREEN{background-color:DARKOLIVEGREEN !important;}
.bgDARKORANGE{background-color:DARKORANGE !important;}
.bgDARKORCHID{background-color:DARKORCHID !important;}
.bgDARKRED{background-color:DARKRED !important;}
.bgDARKSALMON{background-color:DARKSALMON !important;}
.bgDARKSEAGREEN{background-color:DARKSEAGREEN !important;}
.bgDARKSLATEBLUE{background-color:DARKSLATEBLUE !important;}
.bgDARKSLATEGRAY{background-color:DARKSLATEGRAY !important;}
.bgDARKTURQUOISE{background-color:DARKTURQUOISE !important;}
.bgDARKVIOLET{background-color:DARKVIOLET !important;}
.bgDEEPPINK{background-color:DEEPPINK !important;}
.bgDEEPSKYBLUE{background-color:DEEPSKYBLUE !important;}
.bgDIMGRAY{background-color:DIMGRAY !important;}
.bgDODGERBLUE{background-color:DODGERBLUE !important;}
.bgFIREBRICK{background-color:FIREBRICK !important;}
.bgFLORALWHITE{background-color:FLORALWHITE !important;}
.bgFORESTGREEN{background-color:FORESTGREEN !important;}
.bgFUCHSIA{background-color:FUCHSIA !important;}
.bgGAINSBORO{background-color:GAINSBORO !important;}
.bgGHOSTWHITE{background-color:GHOSTWHITE !important;}
.bgGOLD{background-color:GOLD !important;}
.bgGOLDENROD{background-color:GOLDENROD !important;}
.bgGRAY{background-color:GRAY !important;}
.bgGREEN{background-color:GREEN !important;}
.bgGREENYELLOW{background-color:GREENYELLOW !important;}
.bgHONEYDEW{background-color:HONEYDEW !important;}
.bgHOTPINK{background-color:HOTPINK !important;}
.bgINDIANRED{background-color:INDIANRED !important;}
.bgINDIGO{background-color:INDIGO !important;}
.bgIVORY{background-color:IVORY !important;}
.bgKHAKI{background-color:KHAKI !important;}
.bgLAVENDER{background-color:LAVENDER !important;}
.bgLAVENDERBLUSH{background-color:LAVENDERBLUSH !important;}
.bgLAWNGREEN{background-color:LAWNGREEN !important;}
.bgLEMONCHIFFON{background-color:LEMONCHIFFON !important;}
.bgLIGHTBLUE{background-color:LIGHTBLUE !important;}
.bgLIGHTCORAL{background-color:LIGHTCORAL !important;}
.bgLIGHTCYAN{background-color:LIGHTCYAN !important;}
.bgLIGHTGOLDENRODYELLOW{background-color:LIGHTGOLDENRODYELLOW !important;}
.bgLIGHTGREEN{background-color:LIGHTGREEN !important;}
.bgLIGHTGREY{background-color:LIGHTGREY !important;}
.bgLIGHTPINK{background-color:LIGHTPINK !important;}
.bgLIGHTSALMON{background-color:LIGHTSALMON !important;}
.bgLIGHTSEAGREEN{background-color:LIGHTSEAGREEN !important;}
.bgLIGHTSKYBLUE{background-color:LIGHTSKYBLUE !important;}
.bgLIGHTSLATEGRAY{background-color:LIGHTSLATEGRAY !important;}
.bgLIGHTSTEELBLUE{background-color:LIGHTSTEELBLUE !important;}
.bgLIGHTYELLOW{background-color:LIGHTYELLOW !important;}
.bgLIME{background-color:LIME !important;}
.bgLIMEGREEN{background-color:LIMEGREEN !important;}
.bgLINEN{background-color:LINEN !important;}
.bgMAGENTA{background-color:MAGENTA !important;}
.bgMAROON{background-color:MAROON !important;}
.bgMEDIUMAQUAMARINE{background-color:MEDIUMAQUAMARINE !important;}
.bgMEDIUMBLUE{background-color:MEDIUMBLUE !important;}
.bgMEDIUMORCHID{background-color:MEDIUMORCHID !important;}
.bgMEDIUMPURPLE{background-color:MEDIUMPURPLE !important;}
.bgMEDIUMSEAGREEN{background-color:MEDIUMSEAGREEN !important;}
.bgMEDIUMSLATEBLUE{background-color:MEDIUMSLATEBLUE !important;}
.bgMEDIUMSPRINGGREEN{background-color:MEDIUMSPRINGGREEN !important;}
.bgMEDIUMTURQUOISE{background-color:MEDIUMTURQUOISE !important;}
.bgMEDIUMVIOLETRED{background-color:MEDIUMVIOLETRED !important;}
.bgMIDNIGHTBLUE{background-color:MIDNIGHTBLUE !important;}
.bgMINTCREAM{background-color:MINTCREAM !important;}
.bgMISTYROSE{background-color:MISTYROSE !important;}
.bgMOCCASIN{background-color:MOCCASIN !important;}
.bgNAVAJOWHITE{background-color:NAVAJOWHITE !important;}
.bgNAVY{background-color:NAVY !important;}
.bgOLDLACE{background-color:OLDLACE !important;}
.bgOLIVE{background-color:OLIVE !important;}
.bgOLIVEDRAB{background-color:OLIVEDRAB !important;}
.bgORANGE{background-color:ORANGE !important;}
.bgORANGERED{background-color:ORANGERED !important;}
.bgORCHID{background-color:ORCHID !important;}
.bgPALEGOLDENROD{background-color:PALEGOLDENROD !important;}
.bgPALEGREEN{background-color:PALEGREEN !important;}
.bgPALETURQUOISE{background-color:PALETURQUOISE !important;}
.bgPALEVIOLETRED{background-color:PALEVIOLETRED !important;}
.bgPAPAYAWHIP{background-color:PAPAYAWHIP !important;}
.bgPEACHPUFF{background-color:PEACHPUFF !important;}
.bgPERU{background-color:PERU !important;}
.bgPINK{background-color:PINK !important;}
.bgPLUM{background-color:PLUM !important;}
.bgPOWDERBLUE{background-color:POWDERBLUE !important;}
.bgPURPLE{background-color:PURPLE !important;}
.bgRED{background-color:RED !important;}
.bgROSYBROWN{background-color:ROSYBROWN !important;}
.bgROYALBLUE{background-color:ROYALBLUE !important;}
.bgSADDLEBROWN{background-color:SADDLEBROWN !important;}
.bgSALMON{background-color:SALMON !important;}
.bgSANDYBROWN{background-color:SANDYBROWN !important;}
.bgSEAGREEN{background-color:SEAGREEN !important;}
.bgSEASHELL{background-color:SEASHELL !important;}
.bgSIENNA{background-color:SIENNA !important;}
.bgSILVER{background-color:SILVER !important;}
.bgSKYBLUE{background-color:SKYBLUE !important;}
.bgSLATEBLUE{background-color:SLATEBLUE !important;}
.bgSLATEGRAY{background-color:SLATEGRAY !important;}
.bgSNOW{background-color:SNOW !important;}
.bgSPRINGGREEN{background-color:SPRINGGREEN !important;}
.bgSTEELBLUE{background-color:STEELBLUE !important;}
.bgTAN{background-color:TAN !important;}
.bgTEAL{background-color:TEAL !important;}
.bgTHISTLE{background-color:THISTLE !important;}
.bgTOMATO{background-color:TOMATO !important;}
.bgTURQUOISE{background-color:TURQUOISE !important;}
.bgVIOLET{background-color:VIOLET !important;}
.bgWHEAT{background-color:WHEAT !important;}
.bgWHITE{background-color:WHITE !important;}
.bgWHITESMOKE{background-color:WHITESMOKE !important;}
.bgYELLOW{background-color:YELLOW !important;}
.bgYELLOWGREEN{background-color:YELLOWGREEN !important;}
.bgAQUA{background-color:AQUA !important;}
.bgBLACK{background-color:BLACK !important;}
.bgBLUE{background-color:BLUE !important;}
.bgFUCHSIA{background-color:FUCHSIA !important;}
.bgGRAY{background-color:GRAY !important;}
.bgGREEN{background-color:GREEN !important;}
.bgLIME{background-color:LIME !important;}
.bgMAROON{background-color:MAROON !important;}
.bgNAVY{background-color:NAVY !important;}
.bgOLIVE{background-color:OLIVE !important;}
.bgPURPLE{background-color:PURPLE !important;}
.bgRED{background-color:RED !important;}
.bgSILVER{background-color:SILVER !important;}
.bgTEAL{background-color:TEAL !important;}
.bgWHITE{background-color:WHITE !important;}
.bgYELLOW{background-color:YELLOW !important;}


.fgALICEBLUE{color:ALICEBLUE !important;}
.fgANTIQUEWHITE{color:ANTIQUEWHITE !important;}
.fgAQUA{color:AQUA !important;}
.fgAQUAMARINE{color:AQUAMARINE !important;}
.fgAZURE{color:AZURE !important;}
.fgBEIGE{color:BEIGE !important;}
.fgBISQUE{color:BISQUE !important;}
.fgBLACK{color:BLACK !important;}
.fgBLANCHEDALMOND{color:BLANCHEDALMOND !important;}
.fgBLUE{color:BLUE !important;}
.fgBLUEVIOLET{color:BLUEVIOLET !important;}
.fgBROWN{color:BROWN !important;}
.fgBURLYWOOD{color:BURLYWOOD !important;}
.fgCADETBLUE{color:CADETBLUE !important;}
.fgCHARTREUSE{color:CHARTREUSE !important;}
.fgCHOCOLATE{color:CHOCOLATE !important;}
.fgCORAL{color:CORAL !important;}
.fgCORNFLOWERBLUE{color:CORNFLOWERBLUE !important;}
.fgCORNSILK{color:CORNSILK !important;}
.fgCRIMSON{color:CRIMSON !important;}
.fgCYAN{color:CYAN !important;}
.fgDARKBLUE{color:DARKBLUE !important;}
.fgDARKCYAN{color:DARKCYAN !important;}
.fgDARKGOLDENROD{color:DARKGOLDENROD !important;}
.fgDARKGRAY{color:DARKGRAY !important;}
.fgDARKGREEN{color:DARKGREEN !important;}
.fgDARKKHAKI{color:DARKKHAKI !important;}
.fgDARKMAGENTA{color:DARKMAGENTA !important;}
.fgDARKOLIVEGREEN{color:DARKOLIVEGREEN !important;}
.fgDARKORANGE{color:DARKORANGE !important;}
.fgDARKORCHID{color:DARKORCHID !important;}
.fgDARKRED{color:DARKRED !important;}
.fgDARKSALMON{color:DARKSALMON !important;}
.fgDARKSEAGREEN{color:DARKSEAGREEN !important;}
.fgDARKSLATEBLUE{color:DARKSLATEBLUE !important;}
.fgDARKSLATEGRAY{color:DARKSLATEGRAY !important;}
.fgDARKTURQUOISE{color:DARKTURQUOISE !important;}
.fgDARKVIOLET{color:DARKVIOLET !important;}
.fgDEEPPINK{color:DEEPPINK !important;}
.fgDEEPSKYBLUE{color:DEEPSKYBLUE !important;}
.fgDIMGRAY{color:DIMGRAY !important;}
.fgDODGERBLUE{color:DODGERBLUE !important;}
.fgFIREBRICK{color:FIREBRICK !important;}
.fgFLORALWHITE{color:FLORALWHITE !important;}
.fgFORESTGREEN{color:FORESTGREEN !important;}
.fgFUCHSIA{color:FUCHSIA !important;}
.fgGAINSBORO{color:GAINSBORO !important;}
.fgGHOSTWHITE{color:GHOSTWHITE !important;}
.fgGOLD{color:GOLD !important;}
.fgGOLDENROD{color:GOLDENROD !important;}
.fgGRAY{color:GRAY !important;}
.fgGREEN{color:GREEN !important;}
.fgGREENYELLOW{color:GREENYELLOW !important;}
.fgHONEYDEW{color:HONEYDEW !important;}
.fgHOTPINK{color:HOTPINK !important;}
.fgINDIANRED{color:INDIANRED !important;}
.fgINDIGO{color:INDIGO !important;}
.fgIVORY{color:IVORY !important;}
.fgKHAKI{color:KHAKI !important;}
.fgLAVENDER{color:LAVENDER !important;}
.fgLAVENDERBLUSH{color:LAVENDERBLUSH !important;}
.fgLAWNGREEN{color:LAWNGREEN !important;}
.fgLEMONCHIFFON{color:LEMONCHIFFON !important;}
.fgLIGHTBLUE{color:LIGHTBLUE !important;}
.fgLIGHTCORAL{color:LIGHTCORAL !important;}
.fgLIGHTCYAN{color:LIGHTCYAN !important;}
.fgLIGHTGOLDENRODYELLOW{color:LIGHTGOLDENRODYELLOW !important;}
.fgLIGHTGREEN{color:LIGHTGREEN !important;}
.fgLIGHTGREY{color:LIGHTGREY !important;}
.fgLIGHTPINK{color:LIGHTPINK !important;}
.fgLIGHTSALMON{color:LIGHTSALMON !important;}
.fgLIGHTSEAGREEN{color:LIGHTSEAGREEN !important;}
.fgLIGHTSKYBLUE{color:LIGHTSKYBLUE !important;}
.fgLIGHTSLATEGRAY{color:LIGHTSLATEGRAY !important;}
.fgLIGHTSTEELBLUE{color:LIGHTSTEELBLUE !important;}
.fgLIGHTYELLOW{color:LIGHTYELLOW !important;}
.fgLIME{color:LIME !important;}
.fgLIMEGREEN{color:LIMEGREEN !important;}
.fgLINEN{color:LINEN !important;}
.fgMAGENTA{color:MAGENTA !important;}
.fgMAROON{color:MAROON !important;}
.fgMEDIUMAQUAMARINE{color:MEDIUMAQUAMARINE !important;}
.fgMEDIUMBLUE{color:MEDIUMBLUE !important;}
.fgMEDIUMORCHID{color:MEDIUMORCHID !important;}
.fgMEDIUMPURPLE{color:MEDIUMPURPLE !important;}
.fgMEDIUMSEAGREEN{color:MEDIUMSEAGREEN !important;}
.fgMEDIUMSLATEBLUE{color:MEDIUMSLATEBLUE !important;}
.fgMEDIUMSPRINGGREEN{color:MEDIUMSPRINGGREEN !important;}
.fgMEDIUMTURQUOISE{color:MEDIUMTURQUOISE !important;}
.fgMEDIUMVIOLETRED{color:MEDIUMVIOLETRED !important;}
.fgMIDNIGHTBLUE{color:MIDNIGHTBLUE !important;}
.fgMINTCREAM{color:MINTCREAM !important;}
.fgMISTYROSE{color:MISTYROSE !important;}
.fgMOCCASIN{color:MOCCASIN !important;}
.fgNAVAJOWHITE{color:NAVAJOWHITE !important;}
.fgNAVY{color:NAVY !important;}
.fgOLDLACE{color:OLDLACE !important;}
.fgOLIVE{color:OLIVE !important;}
.fgOLIVEDRAB{color:OLIVEDRAB !important;}
.fgORANGE{color:ORANGE !important;}
.fgORANGERED{color:ORANGERED !important;}
.fgORCHID{color:ORCHID !important;}
.fgPALEGOLDENROD{color:PALEGOLDENROD !important;}
.fgPALEGREEN{color:PALEGREEN !important;}
.fgPALETURQUOISE{color:PALETURQUOISE !important;}
.fgPALEVIOLETRED{color:PALEVIOLETRED !important;}
.fgPAPAYAWHIP{color:PAPAYAWHIP !important;}
.fgPEACHPUFF{color:PEACHPUFF !important;}
.fgPERU{color:PERU !important;}
.fgPINK{color:PINK !important;}
.fgPLUM{color:PLUM !important;}
.fgPOWDERBLUE{color:POWDERBLUE !important;}
.fgPURPLE{color:PURPLE !important;}
.fgRED{color:RED !important;}
.fgROSYBROWN{color:ROSYBROWN !important;}
.fgROYALBLUE{color:ROYALBLUE !important;}
.fgSADDLEBROWN{color:SADDLEBROWN !important;}
.fgSALMON{color:SALMON !important;}
.fgSANDYBROWN{color:SANDYBROWN !important;}
.fgSEAGREEN{color:SEAGREEN !important;}
.fgSEASHELL{color:SEASHELL !important;}
.fgSIENNA{color:SIENNA !important;}
.fgSILVER{color:SILVER !important;}
.fgSKYBLUE{color:SKYBLUE !important;}
.fgSLATEBLUE{color:SLATEBLUE !important;}
.fgSLATEGRAY{color:SLATEGRAY !important;}
.fgSNOW{color:SNOW !important;}
.fgSPRINGGREEN{color:SPRINGGREEN !important;}
.fgSTEELBLUE{color:STEELBLUE !important;}
.fgTAN{color:TAN !important;}
.fgTEAL{color:TEAL !important;}
.fgTHISTLE{color:THISTLE !important;}
.fgTOMATO{color:TOMATO !important;}
.fgTURQUOISE{color:TURQUOISE !important;}
.fgVIOLET{color:VIOLET !important;}
.fgWHEAT{color:WHEAT !important;}
.fgWHITE{color:WHITE !important;}
.fgWHITESMOKE{color:WHITESMOKE !important;}
.fgYELLOW{color:YELLOW !important;}
.fgYELLOWGREEN{color:YELLOWGREEN !important;}
.fgAQUA{color:AQUA !important;}
.fgBLACK{color:BLACK !important;}
.fgBLUE{color:BLUE !important;}
.fgFUCHSIA{color:FUCHSIA !important;}
.fgGRAY{color:GRAY !important;}
.fgGREEN{color:GREEN !important;}
.fgLIME{color:LIME !important;}
.fgMAROON{color:MAROON !important;}
.fgNAVY{color:NAVY !important;}
.fgOLIVE{color:OLIVE !important;}
.fgPURPLE{color:PURPLE !important;}
.fgRED{color:RED !important;}
.fgSILVER{color:SILVER !important;}
.fgTEAL{color:TEAL !important;}
.fgWHITE{color:WHITE !important;}
.fgYELLOW{color:YELLOW !important;}
