
.ui.menu.menuuserpref.inverted
    .header.item.menuuserpref
        a(href="/index.html")
            i.home.icon 
    .ui.dropdown.item.menuuserpref Menu
        i.dropdown.icon
        .menu
            .ui.dropdown.item.userpref
                i.dropdown.icon
                | Users
                .menu
                    .item.userpref
                        a#user-get.userpref(href='/user-get.html') All Users
                    .item.userpref
                        a#user-add.userpref(href='/user-add.html') New User
            .ui.dropdown.item.userpref
                i.dropdown.icon
                | Roles
                .menu
                    .item
                        a#role-get.userpref(href='/role-get.html') All Roles
                    .item
                        a#role-add.userpref(href='/role-add.html') New Role

    .right.menu
        if current_user.email
            .item
                | Logged in as #{current_user.username}
        .item
            .ui.dropdown.item
                i.bars.icon
                .ui.menu
                    a#darkmode.item.userpref(onClick="darkmode.toggle();") Darkmode
                    a#userpreferences.item.userpref(href="/user-preferences.html") Change Preferences
                    a#logout.item.userpref(href="/logout.html") #[i.sign.out.alternate.icon] logout
                    a#changepassword.item.userpref(href="/resetpassword.html") Change Password
