include includehead.pug

script.
    $(document).ready(function(){
        $('.dropdown').dropdown();
        $('.checkbox').checkbox();
        $('.accordion').accordion();
        $('.modal').modal();
    });

include includenav.pug

.ui.container
    if message
        .ui.positive.message
            i.close.icon
            .header
                {{message}}
    .ui.form
        form(action="{{url_for('resetpassword')}}", method="post")
            {{passwordresetform.hidden_tag()}}
            .field
                {{passwordresetform.password.label}}{{passwordresetform.password(class="ui fluid input")}}
            .field
                {{passwordresetform.verifypassword.label}}{{passwordresetform.verifypassword(class="ui fluid input")}}
            .field
                button.ui.right.labeled.icon.button.fluid(type="submit", value="Reset Password") Reset Password
                    i.icon.sign.in.alternate


include includefoot.pug
