include includehead.pug

script.
    $(document).ready(function(){
        $('.dropdown').dropdown();
        $('.checkbox').checkbox();
        $('.accordion').accordion();
        $('.modal').modal();
        updatepreferences();
    });

include includenav.pug

.ui.container
    if message
        .ui.positive.message
            i.close.icon
            .header
                a.item(href=message[1])
                    button.positive.fluid.ui.button.export= message[0]
    .ui.form
        form(action="{{url_for('resetpassword')}}", method="post")
            {{passwordresetform.hidden_tag()}}
            .field
                {{passwordresetform.password.label(class="userpref")}}{{passwordresetform.password(class="ui fluid input")}}
            .field
                {{passwordresetform.verifypassword.label(class="userpref")}}{{passwordresetform.verifypassword(class="ui fluid input")}}
            .field
                button.ui.right.labeled.icon.button.fluid.menuuserpref(type="submit", value="Reset Password") Reset Password
                    i.icon.sign.in.alternate


include includefoot.pug
