include includehead.pug

script.
    $(document).ready(function(){
        $('.dropdown').dropdown();
        $('.checkbox').checkbox();
        $('.accordion').accordion();
        $('.modal').modal();
        updatepreferences();
    });

include includenav.pug

.ui.container
    if message
        .ui.positive.message
            i.close.icon
            .header
                a.item(href=message[1])
                    button.positive.fluid.ui.button.export= message[0]
    .ui.form
        form(action=url, method="post")
            {{roleform.hidden_tag()}}
            .field
                {{roleform.name.label(class="userpref")}}{{roleform.name(class="id fluid input")}}
            .field
                {{roleform.description.label(class="userpref")}}{{roleform.description(class="id fluid dropdown")}}
            .field
                {{roleform.permissions.label(class="userpref")}}{{roleform.permissions(class="ui fluid input")}}
            .field
                button.ui.right.labeled.icon.button.fluid.menuuserpref(type="submit", value="Save Changes") Save Changes


include includefoot.pug
