include includehead.pug

script.
    $(document).ready(function(){
        $('.dropdown').dropdown();
        $('.checkbox').checkbox();
        $('.accordion').accordion();
        $('.modal').modal();
        $('table.sortable').tablesorter();
        updatepreferences();
    });

include includenav.pug

.ui.container
    .ui.items
        a.item(href='/role-add.html')
            button.fluid.ui.button.menuuserpref New Role
        table.ui.sortable.striped.table#allroles
            thead
                tr
                    th
                    th Role Name
                    th Role Description
                    th Role Permissions
            tbody
            each thisrole in allroles
                tr
                    td
                        a.ui.icon.button.menuuserpref(href='/role-edit.html?roleid={{thisrole.id}}', data-content='Edit Role')
                            i.pen.square.icon
                    td= thisrole.name
                    td= thisrole.description
                    td= thisrole.permissions


include includefoot.pug
