include includehead.pug

script.
    $(document).ready(function(){
        $('.dropdown').dropdown();
        $('.checkbox').checkbox();
        $('.accordion').accordion();
        $('.modal').modal();
    });

include includenav.pug

.ui.container
    if message
        .ui.positive.message
            i.close.icon
            .header
                {{message}}
    .ui.form
        form(action=url, method="post")
            {{userform.hidden_tag()}}
            .field
                {{userform.username.label}}{{userform.username(class="id fluid input")}}
            .field
                {{userform.roleid.label}}{{userform.roleid(class="id fluid dropdown")}}
            .field
                .ui.toggle.checkbox
                    {{userform.active.label}}{{userform.active(class='checkbox hidden')}}
            .field
                {{userform.password.label}}{{userform.password(class="ui fluid input")}}
            .field
                button.ui.right.labeled.icon.button.fluid(type="submit", value="Save Changes") Save Changes


include includefoot.pug
