include includehead.pug

script.
    $(document).ready(function(){
        $('.dropdown').dropdown();
        $('.checkbox').checkbox();
        $('.accordion').accordion();
        $('.modal').modal();
        updatepreferences();
    });

include includenav.pug

.ui.container
    if message
        .ui.positive.message
            i.close.icon
            .header
                a.item(href=message[1])
                    button.positive.fluid.ui.button.export= message[0]
    .ui.form
        form(action=url, method="post")
            {{userform.hidden_tag()}}
            {{userform.id}}
            .field
                {{userform.username.label(class="userpref")}}{{userform.username(class="id fluid input")}}
            .field
                {{userform.roleid.label(class="userpref")}}{{userform.roleid(class="id fluid dropdown")}}
            .field
                .ui.toggle.checkbox
                    {{userform.active.label(class="userpref")}}{{userform.active(class='checkbox hidden')}}
            .field
                {{userform.password.label(class="userpref")}}{{userform.password(class="ui fluid input")}}
            .field
                button.ui.right.labeled.icon.button.fluid.menuuserpref(type="submit", value="Save Changes") Save Changes


include includefoot.pug
