include includehead.pug

script.
    function removecolorclasses(element){
        $(".menuuserpref").removeClass(function (index, className) {
            return (className.match(/(^|\s)bg\S+/g) || []).join(' ');
        });
        $(".menuuserpref").removeClass(function (index, className) {
            return (className.match(/(^|\s)fg\S+/g) || []).join(' ');
        });
        $(".userpref").removeClass(function (index, className) {
            return (className.match(/(^|\s)bg\S+/g) || []).join(' ');
        });
        $(".userpref").removeClass(function (index, className) {
            return (className.match(/(^|\s)fg\S+/g) || []).join(' ');
        });
    }

    $(document).ready(function(){
        $('.dropdown').dropdown();
        $('.checkbox').checkbox();
        $('.accordion').accordion();
        $('.modal').modal();
        updatepreferences();
        $('#testsettings').on('click', function(){
            removecolorclasses();
            document.querySelectorAll('.menuuserpref').forEach(x => x.classList.add( $('#menufgcolor').val() ));
            document.querySelectorAll('.menuuserpref').forEach(x => x.classList.add( $('#menubgcolor').val() ));
            document.querySelectorAll('.userpref').forEach(x => x.classList.add( $('#fgcolor').val() ));
            document.querySelectorAll('.userpref').forEach(x => x.classList.add( $('#bgcolor') ));
        });
        $('#revertsettings').on('click', function(){
            removecolorclasses();
            updatepreferences();
        });

    });

include includenav.pug

.ui.container
    if message
        .ui.positive.message
            i.close.icon
            .header
                a.item(href=message[1])
                    button.positive.fluid.ui.button.export= message[0]
    .ui.form
        form(action="{{url_for('user_preferences')}}", method="post")
            {{userpreferencesform.hidden_tag()}}
            .field
                {{userpreferencesform.fgcolor.label(class="userpref")}}{{userpreferencesform.fgcolor(class="ui fluid selection dropdown")}}
            .field
                {{userpreferencesform.bgcolor.label(class="userpref")}}{{userpreferencesform.bgcolor(class="ui fluid selection dropdown")}}
            .field
                {{userpreferencesform.menufgcolor.label(class="userpref")}}{{userpreferencesform.menufgcolor(class="ui fluid selection dropdown")}}
            .field
                {{userpreferencesform.menubgcolor.label(class="userpref")}}{{userpreferencesform.menubgcolor(class="ui fluid selection dropdown")}}
            .field
                a#testsettings.fluid.ui.button.menuuserpref Test Settings
            .field
                a#revertsettings.fluid.ui.button.menuuserpref Revert Settings
            .field
                button.ui.right.labeled.icon.button.fluid.menuuserpref(type="submit", value="Save Changes") Save Changes
                    i.icon.sign.in.alternate


include includefoot.pug
